#yu{
	border-radius: 50%;
	width: 65px;
	height:65px;
	/*width: 70px;*/
}
.shoucang{
	display: block;
	width: 100px;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	border-left: 1px solid red;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	border-radius: 10px;
	color: red;
	background: peachpuff;
	text-align: center;
	margin-right: -15px;
}
#lo li{
	background: #FFFFFF;
	color: red;
}
.swiper-container {
      width: 100%;
      height: 80px;
     /* margin-top: 100px;*/
      background: #FFFFFF;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
/*.swiper-slide p{
	width: 100%;
	background: orange;
}*/
.swiper-wrapper:nth-child(1) .tuo:nth-child(1) a{
	/*position: relative;
	top: -60px;
	text-align: center;*/
	animation: move 0.8s;
	animation-iteration-count: infinite;
	/* width: 80%; */
}
@keyframes move{
	from {
		width: 60%;
	}

	to {
		width: 70%;
	}
}
.tianjia{
	background: #FFFFFF;
	margin-top: 10px;
	line-height: 3;
}
.tianjia h5{
	text-align: center;
	padding-top: 15px;
	font-size: 15px;
	color: #333333;
}
.tianjia h6{
	text-align: center;
	padding-top: 10px;
	/*font-size: 15px;
	color: #333333;*/
}
.tianjia p{
	/*text-align: center;*/
	padding-top: 15px;
	font-size: 14px;
	color: #333333;
	padding-bottom: 30px;
	text-align: center;
}
.tianjia p span{
	display: inline-block;
	width: 80px;
	height: 30px;
	border: 1px solid #323232;
	line-height: 30px;
	border-radius: 5px;
}
.caini{
	background: #FFFFFF;
	margin-top: 10px;
	text-align: center;
	position: relative;
	/*font-size: 15px;*/
	/*color: #242424;*/
	padding-top: 15px;
	padding-bottom: 15px;
}
.caini .line{
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 50px;
	color: #CCCCCC;
	background: #C0C0C0;
	top: 27px;
	left: 99px;
}
.caini .line1{
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 50px;
	color: #CCCCCC;
	background: #C0C0C0;
	top: 27px;
	right: 99px;
}
.fangyuan{
	font-size: 14px;
	background: #FFFFFF;
	color: #555555;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}
#swp{
      width: 100%;
      height: 180px;
      /*background: red;*/
 }
#sli{
     height: 100%;
     width: 100%;
     /*background: orange;*/
   /*  padding-left: 10px;*/
}
#tu{
	max-width: 100px;
	height: 85px;
}
#ziti1 span:nth-child(1){
	display: inline-block; 
	width: 30px;
	height: 20px;
	background: orange;
	font-size: 12px;
	color: red;
	text-align: center;
}
#ziti1 span:nth-child(3){
	display: inline-block; 
	width: 30px;
	height: 20px;
	background: #C7C7CC;
	font-size: 10px;
	/*color: red;*/
	text-align: center;
}
#ziti1 span:nth-child(2),#ziti1 span:nth-child(4){
	display: inline-block; 
	width: 50px;
	height: 20px;
	background: #C7C7CC;
	font-size: 10px;
	/*color: red;*/
	text-align: center;
	/*padding-right: 30px;*/
	/*color: #C0C0C0;*/
}
.gengduo{
	background: #FFFFFF;
	/*width: 100%;*/
	padding-top: 25px;
	padding-bottom: 20px;
	text-align: center;
}
.gengduo p a{
	display: inline-block;
	width: 80%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	text-align: center;
}
#erl{
	background: red;
	width: 100%;
	overflow: hidden;
	/*padding-top: 272px;*/
}
img{
	width: 100%;
}
